.container {
  background-color: lightgray;
  border: 1px solid black;
}

.horizontal {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.e1 {
  color: white;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.e2 {
  color: white;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#b1 {
  background-color: red;
}

div#b2 {
  background-color: orange;
}

div#b3 {
  background-color: yellow;
}

div#b4 {
  background-color: greenyellow;
}

div#b5 {
  background-color: green;
}

div#b6 {
  background-color: blue;
}

div#b7 {
  background-color: purple;
}

div#b8 {
  background-color: brown;
}
